# Spring Operation

In [1]:
a="Hello" #assigning string to a variable
a

'Hello'

# Accessing Individual letter

In [4]:
a= " Hello, World!"
a[1] #finding the first index of a string

'H'

In [5]:
a[2:5]  #finding the string from index2 to index4 i.e it is excluded

'ell'

# More string functions:

In [6]:
len(a) #finding the length of a string

14

# Uppercase

In [7]:
a.upper() #converting the string to uppercase

' HELLO, WORLD!'

# Lowercase

In [8]:
a.lower() #converting the string to lowercase

' hello, world!'

# Replacing character

In [9]:
a.replace("H", "J") #replacing character "H" with "J"

' Jello, World!'

# String Concatenation

In [12]:
a= "Hello"
b= "world"
c= a +" "+ b #concatenates the string a and b with space in between and assign it to c
c

'Hello world'

# String Methods

In [13]:
a.islower() #checks if the string are lowercase using 'islower()' method

False

# Uppercase

In [14]:
a.isupper()  #checks if the string are uppercase using 'isupper()' method

False

# Alphanumeric

In [15]:
a.isalnum() #checks if the string are alphanumeric using 'isalnum()' method

True

# Remove first occurance of a string

In [2]:
d= "Hello world" #Removes all occurance of the string using 'lstrip()'
d.lstrip("H")

'ello world'

# Endswith

In [28]:
d.endswith("world") # Checks if the string ends with the string "world" using the 'endswith()' method

True

In [ ]:
startswith

In [30]:
d.startswith("world") # Checks if the string ends with the string "world" using the 'endswith()' method

False

In [ ]:
startswith

In [31]:
d.startswith("Hello") # Checks if the string starts with the string "world" using the 'endswith()' method

True

In [32]:
d.find("world") #Finds the starting index of the string "world" using the 'find()' method

6

In [33]:
name_a= "                 old is gold"
name_a.lstrip() # Removes all leading whitespace characters from the string 'name_a' using the 'lstrip()' method

'old is gold'

In [36]:
name_a= "old is gold"
name_a.replace("gold", "diamond") # Replaces all occurrences of the substring "gold" in the string 'name_a' with "diamond" using the 'replace()' method

'old is diamond'

In [38]:
name_a.replace("gold", "$") # Replaces string "gold" in the 'name_a' with "$" using the 'replace()' method

'old is $'

# Splitting a string

In [39]:
name_a.split() # Splits the string 'name_a' into a list using the 'split()' method

['old', 'is', 'gold']

In [40]:
name_b=""

In [41]:
name_b.split() # Splits the string 'name_b' into a list using the 'split()' method

[]

In [43]:
list_a = "www.example.com"
list_a.split(".") # Splits the string 'list_a' into a list based on the dot (.) using the 'split()' method

['www', 'example', 'com']

# Regular Expression

In [44]:
import regex as re
def tokenize(text):
    return re.findall(r'abc', text) # Uses 're.findall()' method to find all occurrences of the pattern 'abc' in the 'text' string
x = tokenize("abcd 45abc abc% abc.com acbrx .=.abc.=. ab c cba ABC ") # Calls the 'tokenize' function with the string
x

['abc', 'abc', 'abc', 'abc', 'abc']

# Groups and Ranges

In [45]:
import regex as re
def tokenize(text):
    return re.findall(r'^The', text)# Uses 're.findall()' method to find all occurrences of the pattern 'the' in the 'text' string
x = tokenize("Them ")# Calls the 'tokenize' function with the string
x

['The']

In [48]:
import regex as re
def tokenize(text):
    return re.findall(r'^The', text) # Uses 're.findall()' method to find all occurrences of the pattern 'The' in the 'text' string
x = tokenize("them") # Calls the 'tokenize' function with the string
x

[]

In [49]:
import regex as re
def tokenize(text):
    return re.findall(r'Bye$', text) # Uses 're.findall()' method to find all occurrences of the pattern 'Bye$' in the 'text' string
x = tokenize("They said goodBye") # Calls the 'tokenize' function with the string
print(x)

['Bye']

In [51]:
import regex as re
def tokenize(text):
    return re.findall(r'abc|xyz', text) # Uses 're.findall()' method to find all occurrences of the pattern 'abc|xyz' in the 'text' string
x = tokenize("abcd xsdxyz xyz derf") # Calls the 'tokenize' function with the string
print(x)

['abc', 'xyz', 'xyz']