# Description

- Reading the dataset using pandas library
- Observing the any 10 samples from the dataframe.
- importing the preprocessing package, nltk and its related modules.
- Let's create a dictionary which we can use for scoring our review text.
- Analysing the sentiment score.
- Replacing null values with no review.
- observing the first 10 rows for the columns overall,text and Bing_Liu_Score.

In [1]:
import pandas as pd
# Reading the dataset
df=pd.read_csv('C:\\Users\\Ramachandraiah\\Downloads\\archive (9)\\netflix_titles.csv')

In [2]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [3]:
# Observing the any 10 samples from the dataframe.
df.sample(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5748,s5749,Movie,Bleach The Movie: Fade to Black,Noriyuki Abe,"Masakazu Morita, Fumiko Orikasa, Aya Hirano, H...",Japan,"October 15, 2016",2008,TV-PG,94 min,"Action & Adventure, Anime Features, Sci-Fi & F...",When his mind is fogged by a scimitar-weilding...
4041,s4042,Movie,The Love Affair,Nuel Naval,"Richard Gomez, Dawn Zulueta, Bea Alonzo, Tom R...",Philippines,"March 7, 2019",2015,TV-MA,127 min,"Dramas, International Movies, Romantic Movies",Feeling betrayed by their romantic partners' i...
1130,s1131,Movie,Seven Souls in the Skull Castle: Season Bird,Hidenori Inoue,"Sadao Abe, Mirai Moriyama, Taichi Saotome, Yas...",NaN,"April 1, 2021",2017,TV-14,182 min,"Action & Adventure, Dramas, International Movies","Japan, 1590. Wandering samurai band together t..."
6084,s6085,Movie,Across The Line,Julien Christian Lutz,"Sarah Jeffery, Simon Paul Mutuyimana, Denis Th...",Canada,"April 1, 2019",2015,TV-MA,88 min,"Dramas, Sports Movies",A black high school student sets his sights fo...
6710,s6711,Movie,Evan Almighty,Tom Shadyac,"Steve Carell, John Goodman, Molly Shannon, Lau...",United States,"April 16, 2019",2007,PG,96 min,"Children & Family Movies, Comedies, Faith & Sp...",God summons narcissistic Evan to build an ark ...
3238,s3239,TV Show,Dolly Parton's Heartstrings,NaN,"Dolly Parton, Julianne Hough, Kimberly William...",United States,"November 22, 2019",2019,TV-14,1 Season,TV Dramas,"Eight stories celebrating family, faith, love ..."
1567,s1568,Movie,The Panti Sisters,Jun Lana,"Paolo Ballesteros, Martin del Rosario, Christi...",Philippines,"December 10, 2020",2019,TV-MA,108 min,"Comedies, International Movies, LGBTQ Movies",Three gay siblings are told by their terminall...
2739,s2740,TV Show,PokÃ©mon the Series,NaN,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",NaN,"April 1, 2020",2019,TV-Y7,3 Seasons,"Anime Series, Kids' TV",Ash and his Pikachu travel to the Alola region...
7825,s7826,Movie,Rajnigandha,Basu Chatterjee,"Vidya Sinha, Amol Palekar, Dinesh Thakur, Ranj...",India,"December 31, 2019",1974,TV-PG,104 min,"Comedies, Dramas, Independent Movies",A grad student leaves her boyfriend in Delhi f...
8658,s8659,Movie,Under The Skin,Jonathan Glazer,"Scarlett Johansson, Krystof HÃ¡dek, Jeremy McWi...","Switzerland, United Kingdom, United States","July 15, 2018",2013,R,108 min,"Dramas, Independent Movies, International Movies",A seductive alien prowls the streets in search...

# Get the Bing Liu lexicon

In [4]:
# importing the preprocessing package, nltk and its related modules.
from sklearn import preprocessing
import nltk
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
      opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
      opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data] Error loading opinion_lexicon: <urlopen error [Errno
[nltk_data]     11001] getaddrinfo failed>

# Create the â€œDictionary"

In [5]:
# Let's create a dictionary which we can use for scoring our review text.
nltk.download('punkt')
df.rename(columns={"description": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}
 
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
        word_dict[word] = pos_score
      
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
        word_dict[word] = neg_score

[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

# Function to do the math

In [6]:
# Analysing the sentiment score.
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score

In [7]:
# Replacing null values with no review.
df['text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

# Letâ€™s see the output

In [8]:
# observing the first 10 rows for the columns overall,text and Bing_Liu_Score. 
df[['duration', 'text', 'Bing_Liu_Score']].head(10)

,duration,text,Bing_Liu_Score
0,90 min,"As her father nears the end of his life, filmm...",-2
1,2 Seasons,"After crossing paths at a party, a Cape Town t...",0
2,1 Season,To protect his family from a powerful drug lor...,1
3,1 Season,"Feuds, flirtations and toilet talk go down amo...",-1
4,2 Seasons,In a city of coaching centers known to train I...,2
5,1 Season,The arrival of a charismatic young priest brin...,2
6,91 min,Equestria's divided. But a bright-eyed hero be...,1
7,125 min,"On a photo shoot in Ghana, an American model s...",-1
8,9 Seasons,A talented batch of amateur bakers face off in...,3
9,104 min,A woman adjusting to life after a loss contend...,-1

In [9]:
# finding mean for the column Bing_Liu_Score by performing groupby on overall.
df.groupby('duration').agg({'Bing_Liu_Score':'mean'})

            Bing_Liu_Score
duration
1 Season         -0.162298
10 Seasons        0.000000
10 min            0.000000
100 min          -0.398148
101 min          -0.405172
...                    ...
95 min           -0.729927
96 min           -0.623077
97 min           -0.924658
98 min           -0.716667
99 min           -0.771186

[220 rows x 1 columns]